body{
    margin:0;
    padding:3em 0;
    font-family:Helvetica, Arial, sans-serif;
    background:#deeaee;
    color:#222;
}

.content {
    max-width: 1200px;
    margin: auto;
}

.header{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

hr{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.20);
    border: 0;
    margin: 0 0 6% 0;
}

h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem !important;
    text-align: justify;
}

.description_header{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 150;
}

.description{
    font-family: Times, Times New Roman, serif;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

strong{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
    color: #75baf2 !important;
}

.columns {
    width: 100%;
    float: center;
    box-sizing: border-box; }

.p_slider{
    color: #3e4444;
    font-size: 10px;
}